{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <div id="arc-body">
                        <h3>Go协程</h3>
                        goroutine是Go并行设计的核心。goroutine说到底其实就是协程，但是它比线程更小，几十个goroutine可能体现在底层就是五六个线程，Go语言内部帮你实现了这些goroutine之间的内存共享。执行goroutine只需极少的栈内存(大概是4~5KB)，当然会根据相应的数据伸缩。也正因为如此，可同时运行成千上万个并发任务。goroutine比thread更易用、更高效、更轻便。<br/>

                        Go 程（goroutine）是由 Go 运行时管理的轻量级线程。<br/><br/>

                        <p class="info-box">
                            package main <br/><br/>

                            import (<br/>
                            "fmt"<br/>
                            "time"<br/>
                            )<br/><br/>

                            func say(s string) {<br/>
                            for i := 0; i < 5; i++ {<br/>
                            time.Sleep(100 * time.Millisecond)<br/>
                            fmt.Println(s)<br/>
                            }<br/>
                            }<br/>

                            func main() {<br/>
                            go say("world")<br/>
                            say("hello")<br/>
                            }<br/>
                        </p>
                        go f(x, y, z)<br/>
                        会启动一个新的 Go 程并执行<br/><br/>

                        f(x, y, z)<br/>
                        f, x, y 和 z 的求值发生在当前的 Go 程中，而 f 的执行发生在新的 Go 程中。<br/><br/>

                        Go 程在相同的地址空间中运行，因此在访问共享的内存时必须进行同步。

                        <h3>信道</h3>
                        <p class="info-box"><br/>
                            package main<br/>
                            <br/>
                            import "fmt"<br/>
                            <br/>
                            func sum(s []int, c chan int) {<br/>
                            sum := 0<br/>
                            for _, v := range s {<br/>
                            sum += v<br/>
                            }<br/>
                            c <- sum // 将和送入 c<br/>
                            }<br/>
                            <br/>
                            func main() {<br/>
                            s := []int{7, 2, 8, -9, 4, 0}<br/>
                            <br/>
                            c := make(chan int)<br/>
                            go sum(s[:len(s)/2], c)<br/>
                            go sum(s[len(s)/2:], c)<br/>
                            x, y := <-c, <-c // 从 c 中接收<br/>
                            <br/>
                            fmt.Println(x, y, x+y)<br/>
                            }<br/>
                            <br/>
                        </p><br/>
                        信道是带有类型的管道，你可以通过它用信道操作符 <- 来发送或者接收值。<br/>
                        <br/>
                        ch <- v    // 将 v 发送至信道 ch。<br/>
                        v := <-ch  // 从 ch 接收值并赋予 v。<br/>
                        （“箭头”就是数据流的方向。）<br/>
                        <br/>
                        和映射与切片一样，信道在使用前必须创建：<br/>
                        <br/>
                        ch := make(chan int)
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
