{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <div id="arc-body">
                        <h1>golang实现简易的分布式系统方法</h1>

                        <h3>功能</h3>
                        <ul>
                            <li>能够发送/接收请求和响应</li>
                            <li>能够连接到集群</li>
                            <li> 如果无法连接到群集（如果它是第一个节点），则可以作为主节点启动节点</li>
                            <li> 每个节点有唯一的标识</li>
                            <li>能够在节点之间交换json数据包</li>
                            <li>接受命令行参数中的所有信息（将来在我们系统升级时将会很有用）</li>
                        </ul>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
