{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <div id="arc-body">
                        <h3>基于Docker和Golang搭建Web服务器</h3>
                        <h4>优势</h4>
                        <ul>
                            <li>快速部署（使用 Docker 启动可以无需任何环境变量的配置，无需其他任何依赖）</li>

                            <li>开发环境与产品环境一致</li>
                        </ul>
                        <h3>编写一个GoLang web程序</h3>
                        <p class="info-box">
                            package main<br/>
                            import (<br/>
                            "fmt"<br/>
                            "net/http"<br/>
                            )<br/>
                            func handlerHello(w http.ResponseWriter, r *http.Request) {<br/>
                            fmt.Fprintf(w, "hello docker")<br/>
                            }<br/>
                            func main() {<br/>
                            http.HandleFunc("/", handlerHello)<br/>
                            http.ListenAndServe(":8080", nil)<br/>
                            }</p>                        <br/>
                        进入hellodocker目录，执行 go run main.go

                        <h4>制作docker镜像</h4>
                        1.在工程目录hellodocker下，新建dockerfile文件
                        <p class="info-box">FROM golang:latest<br/>
                            MAINTAINER "shentt@gmail.com"<br/>
                            WORKDIR /Users/shentaotao/Projects/go/src/servyoutraing/hellodocker<br/>
                            ADD . /Users/shentaotao/Projects/go/src/servyoutraing/hellodocker<br/>
                            RUN go build hellodocker.go<br/>
                            EXPOSE 8080<br/>
                            ENTRYPOINT ["./hellodocker"]</p>
                        FROM 母镜像<br/>
                        MAINTAINER 维护者信息<br/>
                        WORKDIR工作目录<br/>
                        ADD 将文件复制到镜像中<br/>
                        RUN 执行操作<br/>
                        EXPOSE 监听端口<br/>
                        ENTRYPOINT 程序入口<br/><br/>

                        2.进入hellodocker目录，打开终端输入 docker build -t hellodocker .<br/><br/>
                        3.查看docker镜像 docker images hellodocker
                        <h4>运行容器</h4>
                        docker run -p 8080:8080 -d hellodocker
                        <h4>验证</h4>
                        curl http://localhost:8080/

                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
