{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>游戏服务器框架：Leaf/go</h1>
                    <div id="arc-body">Leaf 是一个使用 Go 语言开发的开源游戏服务器框架，注重运行效率并追求极致的开发效率。Leaf 适用于几乎所有的游戏类型。其主要的特性：
                        <br/><br/>
                        <ul>
                            <li>
                                良好的使用体验。Leaf 总是尽可能的提供简洁和易用的接口，尽可能的提升开发的效率
                            </li>
                            <li>
                                稳定性。Leaf 总是尽可能的恢复运行过程中的错误，避免崩溃
                            </li>
                            <li>
                                多核支持。Leaf 通过模块机制和 leaf/go 尽可能的利用多核资源，同时又尽量避免各种副作用
                            </li>
                            <li>
                                良好的模块支持。
                            </li>
                        </ul>

                        <h3>Leaf 的模块机制</h3>
                        一个 Leaf 开发的游戏服务器由多个模块组成（例如 LeafServer），模块有以下特点：<br/><br/>

                        每个模块运行在一个单独的 goroutine 中<br/>
                        模块间通过一套轻量的 RPC 机制通讯（leaf/chanrpc）<br/>
                        Leaf 不建议在游戏服务器中设计过多的模块。<br/><br/>

                        游戏服务器在启动时进行模块的注册，例如：
                        <p class="info-box">
                            leaf.Run( <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;game.Module,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gate.Module,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;login.Module<br/>
                            )
                        </p>
                        <h3>Leaf 源码概览</h3>
                        <li>
                        leaf/chanrpc 提供了一套基于 channel 的 RPC 机制，用于游戏服务器模块间通讯
                        </li>
                        <li>
                        leaf/db 数据库相关，目前支持 MongoDB
                        </li>
                        <li>
                        leaf/gate 网关模块，负责游戏客户端的接入
                        </li>
                        <li>
                        leaf/go 用于创建能够被 Leaf 管理的 goroutine
                        </li>
                        <li>
                        leaf/log 日志相关
                        </li>
                        <li>
                        leaf/network 网络相关，使用 TCP 和 WebSocket 协议，可自定义消息格式，默认 Leaf 提供了基于 protobuf 和 JSON 的消息格式
                        </li>
                        <li>
                        leaf/recordfile 用于管理游戏数据
                        </li>
                        <li>
                        leaf/timer 定时器相关
                        </li>
                        <li>
                        leaf/util 辅助库
                        </li>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
