{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <dl id="arc-list">
                        <dt>
                            进阶
                        </dt>
                        <dd>
                            <span>1.</span> <a href="/k8s?t=1&p=1">Kubernetes调用</a>
                        </dd>
                        <dd class="bg-f7f7f7">
                            <span>2.</span> <a href="/dockerapid?t=1&p=2">结合Docker</a>
                        </dd>
                        <dd>
                            <span>3.</span> <a href="/game?t=1&p=3">游戏开发</a>
                        </dd>
                        <dd class="bg-f7f7f7">
                            <span>4.</span> <a href="/smallservice?t=1&p=4">微服务</a>
                        </dd>
                        <dd>
                            <span>5.</span> <a href="/distributed?t=1&p=5">分布式系统开发</a>
                        </dd>
                        <dd class="bg-f7f7f7">
                            <span>6.</span> <a href="/concurrent?t=1&p=6">Golang高并发</a>
                        </dd>
                    </dl>
                </div>
            </main>
        </body1>
    </form>
{{end}}
