{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <div id="arc-body">
                        <h3>client-go说明</h3>
                        client-go是一个调用kubernetes集群资源对象API的客户端，即通过client-go实现对kubernetes集群中<br/>
                        资源对象（包括deployment、service、ingress、replicaSet、pod、namespace、node等）的增删改查等操作。<br/>
                        大部分对kubernetes进行前置API封装的二次开发都通过client-go这个第三方包来实现。
                        <br/>
                        <h3>client-go 安装</h3>
                        client-go 安装很简单，前提是本机已经安装并配置好了 Go 环境，安装之前，我们需要先查看下其版本针对 k8s 版本 兼容性列表，<br/>
                        针对自己本机安装的 k8s 版本选择对应的 client-go 版本，当然也可以默认选择最新版本，来兼容所有。<br/>

                        $ go get k8s.io/client-go/...<br/>
                        $ go get -u k8s.io/apimachinery/...<br/>

                        <h3>在 k8s 集群外运行客户端操作资源示例</h3>
                        <p class="info-box">
                            package main<br/>
                            <br/>
                            import (<br/>
                            "flag"<br/>
                            "fmt"<br/>
                            "os"<br/>
                            "path/filepath"<br/>
                            "time"<br/>
                            <br/>
                            "k8s.io/apimachinery/pkg/api/errors"<br/>
                            metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"<br/>
                            "k8s.io/client-go/kubernetes"<br/>
                            "k8s.io/client-go/tools/clientcmd"<br/>
                            )<br/>
                            <br/>
                            func main() {<br/>
                            // 配置 k8s 集群外 kubeconfig 配置文件，默认位置 $HOME/.kube/config<br/>
                            var kubeconfig *string<br/>
                            if home := homeDir(); home != "" {<br/>
                            kubeconfig = flag.String("kubeconfig", filepath.Join(home, ".kube", "config"), "(optional)
                            absolute path to the kubeconfig file")<br/>
                            } else {<br/>
                            kubeconfig = flag.String("kubeconfig", "", "absolute path to the kubeconfig file")<br/>
                            }<br/>
                            flag.Parse()<br/>
                            <br/>
                            //在 kubeconfig 中使用当前上下文环境，config 获取支持 url 和 path 方式<br/>
                            config, err := clientcmd.BuildConfigFromFlags("", *kubeconfig)<br/>
                            if err != nil {<br/>
                            panic(err.Error())<br/>
                            }<br/>
                            <br/>
                            // 根据指定的 config 创建一个新的 clientset<br/>
                            clientset, err := kubernetes.NewForConfig(config)<br/>
                            if err != nil {<br/>
                            panic(err.Error())<br/>
                            }<br/>
                            for {<br/>
                            // 通过实现 clientset 的 CoreV1Interface 接口列表中的 PodsGetter 接口方法 Pods(namespace string) 返回
                            PodInterface<br/>
                            // PodInterface 接口拥有操作 Pod 资源的方法，例如 Create、Update、Get、List 等方法<br/>
                            // 注意：Pods() 方法中 namespace 不指定则获取 Cluster 所有 Pod 列表<br/>
                            pods, err := clientset.CoreV1().Pods("").List(metav1.ListOptions{})<br/>
                            if err != nil {<br/>
                            panic(err.Error())<br/>
                            }<br/>
                            fmt.Printf("There are %d pods in the k8s cluster\n", len(pods.Items))<br/>
                            <br/>
                            // 获取指定 namespace 中的 Pod 列表信息<br/>
                            namespace := "kubeless"<br/>
                            pods, err = clientset.CoreV1().Pods(namespace).List(metav1.ListOptions{})<br/>
                            if err != nil {<br/>
                            panic(err)<br/>
                            }<br/>
                            fmt.Printf("\nThere are %d pods in namespaces %s\n", len(pods.Items), namespace)<br/>
                            for _, pod := range pods.Items {<br/>
                            fmt.Printf("Name: %s, Status: %s, CreateTime: %s\n", pod.ObjectMeta.Name, pod.Status.Phase,
                            pod.ObjectMeta.CreationTimestamp)<br/>
                            }<br/>
                            <br/>
                            // 获取指定 namespaces 和 podName 的详细信息，使用 error handle 方式处理错误信息<br/>
                            namespace = "kubeless"<br/>
                            podName := "get-java-5ff45cd65d-2frkx"<br/>
                            pod, err := clientset.CoreV1().Pods(namespace).Get(podName, metav1.GetOptions{})<br/>
                            if errors.IsNotFound(err) {<br/>
                            fmt.Printf("Pod %s in namespace %s not found\n", podName, namespace)<br/>
                            } else if statusError, isStatus := err.(*errors.StatusError); isStatus {<br/>
                            fmt.Printf("Error getting pod %s in namespace %s: %v\n",<br/>
                            podName, namespace, statusError.ErrStatus.Message)<br/>
                            } else if err != nil {<br/>
                            panic(err.Error())<br/>
                            } else {<br/>
                            fmt.Printf("\nFound pod %s in namespace %s\n", podName, namespace)<br/>
                            maps := map[string]interface{}{<br/>
                            "Name": pod.ObjectMeta.Name,<br/>
                            "Namespaces": pod.ObjectMeta.Namespace,<br/>
                            "NodeName": pod.Spec.NodeName,<br/>
                            "Annotations": pod.ObjectMeta.Annotations,<br/>
                            "Labels": pod.ObjectMeta.Labels,<br/>
                            "SelfLink": pod.ObjectMeta.SelfLink,<br/>
                            "Uid": pod.ObjectMeta.UID,<br/>
                            "Status": pod.Status.Phase,<br/>
                            "IP": pod.Status.PodIP,<br/>
                            "Image": pod.Spec.Containers[0].Image,<br/>
                            }<br/>
                            prettyPrint(maps)<br/>
                            }<br/>
                            <br/>
                            time.Sleep(10 * time.Second)<br/>
                            }<br/>
                            }<br/>
                            <br/>
                            func prettyPrint(maps map[string]interface{}) {<br/>
                            lens := 0<br/>
                            for k, _ := range maps {<br/>
                            if lens <= len(k) {<br/>
                            lens = len(k)<br/>
                            }<br/>
                            }<br/>
                            for key, values := range maps {<br/>
                            spaces := lens - len(key)<br/>
                            v := ""<br/>
                            for i := 0; i < spaces; i++ {<br/>
                            v += " "<br/>
                            }<br/>
                            fmt.Printf("%s: %s%v\n", key, v, values)<br/>
                            }<br/>
                            }<br/>
                            <br/>
                            func homeDir() string {<br/>
                            if h := os.Getenv("HOME"); h != "" {<br/>
                            return h<br/>
                            }<br/>
                            return os.Getenv("USERPROFILE") // windows<br/>
                            }<br/>
                            ————————————————<br/>
                        </p>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
