{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/introduction">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <ul>
                        <li><a href=/k8s>1. Kubernetes调用</a></li>
                        <li><a href=/dockerapid>2. 结合Docker</a></li>
                        <li><a href=/game>3. 游戏开发</a></li>
                        <li><a href=/smallservice>4. 微服务</a></li>
                        <li><a href=/distributed>5. 分布式系统开发</a></li>
                        <li><a href=/concurrent>6. Golang高并发</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>
    <h1>微服务</h1>
                    <div id="arc-body">微服务是<strong>将单一的应用程序拆分成多个微小的服务，各个小服务之间松耦合，高内聚</strong>，
                        每个小的服务可以单独进行开发，不依赖于具体的编程语言，也可以使用不同的数据存储技术，各个服务可以独立部署，拥有各自的进程，
                        相互之间通过轻量化的机制进行通信(如基于http的API接口)，所有的服务共同实现具体的业务功能。
                        <br/><br/>

                        <h3>单体式应用的不足</h3>

                        不幸的是，这种简单方法却有很大的局限性。一个简单的应用会随着时间推移逐渐变大。在每次的sprint中，开发团队都会面对新“故事”，然后开发许多新代码。几年后，这个小而简单的应用会变成了一个巨大的怪物。

                        <h3> 微服务架构的好处</h3>

                        首先，通过分解巨大单体式应用为多个服务方法解决了复杂性问题。在功能不变的情况下，应用被分解为多个可管理的分支或服务。每个服务都有一个用RPC-或者消息驱动API定义清楚的边界。微服务架构模式给采用单体式编码方式很难实现的功能提供了模块化的解决方案，由此，单个服务很容易开发、理解和维护。
                        <br/><br/>
                        第二，这种架构使得每个服务都可以有专门开发团队来开发。开发者可以自由选择开发技术，提供API服务。当然，许多公司试图避免混乱，只提供某些技术选择。然后，这种自由意味着开发者不需要被迫使用某项目开始时采用的过时技术，他们可以选择现在的技术。甚至于，因为服务都是相对简单，即使用现在技术重写以前代码也不是很困难的事情。
                        <br/><br/>
                        第三，微服务架构模式是每个微服务独立的部署。开发者不再需要协调其它服务部署对本服务的影响。这种改变可以加快部署速度。UI团队可以采用AB测试，快速的部署变化。微服务架构模式使得持续化部署成为可能。
                        <br/><br/>
                        最后，微服务架构模式使得每个服务独立扩展。你可以根据每个服务的规模来部署满足需求的规模。甚至于，你可以使用更适合于服务资源需求的硬件。<br/>

                        <h3>golang微服务</h3>
                        几乎所有的语言都支持微服务。微服务不是一个具体的框架或工具，而是一个概念。这就意味着，在选择构建微服务的语言中，总有一些更为合适、或者说支持性更好。Golang 就是其中的佼佼者。
                        <br/>
                        Golang 是一个轻量级、运行速度快、对高并发支持极好的语言，很有力地支持了多核、多设备运行的场景。
                        <br/>
                        Golang 在网络服务上，也具有强大的标准库。
                        <br/>

                        目前，已有一个强大的微服务框架—— go-micro<br/>

                        <h3>go-micro</h3>
                        Go Micro是一个插件化的基础框架，基于此可以构建微服务。Micro的设计哲学是『可插拔』的插件化架构。在架构之外，它默认实现了consul作为服务发现，通过http进行通信，通过protobuf和json进行编解码。我们一步步深入下去。
                        <br/>Go Micro是：<br/><br/>

                        一个用Golang编写的包<br/>
                        一系列插件化的接口定义<br/>
                        基于RPc<br/><br/>
                        Go Micro为下面的模块定义了接口：<br/>
                        服务发现<br/>
                        编解码<br/>
                        服务端、客户端<br/>
                        订阅、发布消息<br/>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
