a {
color:black;
}

body1 {
display: flex;
height: 100%;
}

html, body {
font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
height: 100%;
color: var(--color-text);
font-size: 16px;
line-height: 24px;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
--color-primary: #6c928c;
--color-accent: #96B499;
--color-text: #34495e;
color: black;
}

aside {
overflow-y: auto;
width: 280px;
border-right: 1px solid #ddd;
display: block;
}

aside .logo {
cursor: pointer;
font-weight: 700;
font-size: 24px;
text-align: center;
padding: 20px 0;
}

nav.side-nav {
border-top: 1px solid #ddd;
line-height: 2em;
padding: 10px 0 20px 30px;
}

main {
flex: 1;
overflow: auto;
display: block;
}

.container {
margin: 0 auto;
min-width: 960px;
max-width: 1440px;
padding: 20px;
}

.gap-top {
margin-top: 16px;
}
.textarea {
display: block;
max-width: 100%;
min-width: 100%;
resize: vertical;
line-height: 22px;
}

