{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('btclear').onclick = function () {
                {{/*alert({{.area_output}});*/}}
                document.getElementById('area_input').value = "";
                // document.getElementById('area_output').value = "";
                document.getElementById('oversize').value = "100";
                var obj1 = document.getElementById("area_output");
                // alert(obj.innerHTML);
                obj1.innerHTML = "";
                var obj2 = document.getElementById("p");
                obj2.innerHTML = "";
                return false;
            }

            document.getElementById('oversize').onblur = function () {
                var num = document.getElementById('oversize').value;
                if (num == "") {
                    alert("请输入整数");
                    return false;
                }
                if (!(/(^[1-9]\d*$)/.test(num))) {
                    alert("输入的不是正整数");
                    return false;
                }
            }

            document.getElementById('btcrawl').onclick = function () {
                var num = document.getElementById('oversize').value;
                if (num == "") {
                    alert("请输入整数");
                    return false;
                }
                if (!(/(^[1-9]\d*$)/.test(num))) {
                    alert("输入的不是正整数");
                    return false;
                }
            }
        }

    </script>

    <form method="POST" action="/back/itsspider/itsspider">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <h3>认识go</h3>
                    <ul>
                        <li><a href=/json style="color:black;">简介</a>
                        <li><a href=/json2xml>特性</a>
                        <li><a href=/json2go>产品/项目</a>
                        <li><a href=/json2go>其它语言比对</a>
                        <li><a href=/json2go>标准库</a>
                        <li><a href=/json2go>语法</a>
                    </ul>
                    <h3>爬虫</h3>
                    <ul>
                        <li><a href=/back/itsspider/itsspider>爬虫</a>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>itsspider</h1>
                    <p style="font-size: 10px">输入需要爬取的地址，多个地址则换行隔开</p>
                    <textarea id=area_input name=area_input class="textarea gap-top" rows=15
                              onpaste=setTimeout(encode,1)>{{.area_input}}</textarea>
                    <div class="gap-top">
                        <td>过滤条件：<input type="text" id="oversize" name="oversize" value="{{.oversize}}" size="8"
                                        style="font-size:15px;outline: none">（GB）
                        </td>
                        <td>
                            <button class=button id="btcrawl"><span>爬取</span></button>
                        </td>
                        <td>
                            <button id="btclear" class=button><span>清空</span></button>
                        </td>
                        <td>
                            <p style="margin-top: 16px" id="p"><font size="5" face="arial"
                                                                     color="#6b8e23">{{.mesg}}</font></p>
                        </td>
                    </div>
                    {{/*<textarea id=area_output class="textarea gap-top" rows=15*/}}
                    {{/*onpaste=setTimeout(decode,1)>*/}}
                    {{/*{{range .area_output}} {{.Queryid}} {{.Elapsedtime}} {{.Inputdatasize}} {{.Peekmemorysize}} {{.Createtime}} {{end}}*/}}
                    {{/*</textarea>*/}}
                    {{if .area_output}}
                        <table id=area_output border="0" cellspacing="0" cellpadding="5" align="center">
                            <tr bgColor="#E8F1FA" style="display: table-row;vertical-align: inherit;">
                                <td width="200" id="column" align="center">Queryid</td>
                                <td width="200" id="column" align="center">Elapsedtime</td>
                                <td width="200" id="column" align="center">Inputdatasize</td>
                                <td width="200" id="column" align="center">Peekmemorysize</td>
                                <td width="300" id="column" align="center">Createtime</td>
                            </tr>
                            {{range .area_output}}
                                <tr>
                                    <td id="column" align="center">{{.Queryid}}</td>
                                    <td id="column" align="center">{{.Elapsedtime}}</td>
                                    <td id="column" align="center">{{.Inputdatasize}}</td>
                                    <td id="column" align="center">{{.Peekmemorysize}}</td>
                                    <td id="column" align="center">{{.Createtime}}</td>
                                </tr>
                            {{end}}
                        </table>
                    {{end}}
                </div>
            </main>
        </body1>
    </form>
{{end}}
