{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>小结</h1>

                    <div id="arc-body">
                        有些时候你需要写很多的if-通过语法我们可以发现Go是多么的简单，只有二十五个关键字。让我们再来回顾一下这些关键字都是用来干什么的
                        <p class="info-box">
                            break&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;default&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;func&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;interface&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;select<br/>
                            case&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;map&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;struct<br/>
                            chan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;goto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;package&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;switch<br/>
                            const&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fallthrough&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;range&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type<br/>
                            continue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;import&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var<br/>
                        </p>
                        <ul>
                            <li>var和const参考3.2Go语言基础里面的变量和常量申明</li>
                            <li>package和import已经有过短暂的接触</li>
                            <li>func 用于定义函数和方法</li>
                            <li>return 用于从函数返回</li>
                            <li>defer 用于类似析构函数</li>
                            <li>go 用于并发</li>
                            <li> select 用于选择不同类型的通讯</li>
                            <li> interface 用于定义接口</li>
                            <li> struct 用于定义抽象数据类型</li>
                            <li> break、case、continue、for、fallthrough、else、if、switch、goto、default这些参3.2流程介绍里面</li>
                            <li>chan用于channel通讯</li>
                            <li>type用于声明自定义类型</li>
                            <li> map用于声明map类型数据</li>
                            <li>range用于读取slice、map、channel数据</li>
                        </ul>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
