{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>
    {{/*<link rel="stylesheet" href="/t/style.css">*/}}

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>Go语言基础</h1>

                    <h2>定义变量</h2>
                    Go语言里面定义变量有多种方式,使用var关键字是Go最基本的定义变量方式,把变量类型放在变量名后面：
                    <p class="info-box">
                        //定义一个名称为“variableName”，类型为"type"的变量<br/>
                        var variableName type<br/>
                        //定义多个变量定义三个类型都是“type”的变量<br/>
                        var vname1, vname2, vname3 type<br/>
                        //初始化“variableName”的变量为“value”值，类型是“type”<br/>
                        var variableName type = value<br/>
                        //同时初始化多个变量<br/>
                        var vname1, vname2, vname3 type= v1, v2, v3<br/>
                        //Go会根据其相应值的类型来帮你初始化它们<br/>
                        var vname1, vname2, vname3 = v1, v2, v3<br/>
                        //编译器会根据初始化的值自动推导出相应的类型<br/>
                        vname1, vname2, vname3 := v1, v2, v3
                    </p>
                    :=这个符号直接取代了var和type,这种形式叫做简短声明。不过它有一个限制，那就是它只能用在函数内部；在函数外部使用则会无法编译通过，所以一般用var方式来定义全局变量。<br/>
                    <br/>
                    Go对于已声明但未使用的变量会在编译阶段报错，比如下面的代码就会产生一个错误：声明了i但未使用。
                    <p class="info-box">
                        package main<br/><br/>

                        func main() {<br/>
                        var i int<br/>
                        }
                    </p>

                    <h2>常量</h2>
                    所谓常量，也就是在程序编译阶段就确定下来的值，而程序在运行时无法改变该值。在Go程序中，常量可定义为数值、布尔值或字符串等类型。
                    它的语法如下：
                    <p class="info-box">
                        const constantName = value<br/>
                        //如果需要，也可以明确指定常量的类型：<br/>
                        const Pi float32 = 3.1415926<br/>
                    </p>

                    <h2>内置基础类型</h2>
                    <h3>Boolean</h3>
                    在Go中，布尔值的类型为bool，值是true或false，默认为false。
                    <p class="info-box">
                        //示例代码<br/>
                        var isActive bool // 全局变量声明<br/>
                        var enabled, disabled = true, false // 忽略类型的声明<br/>
                        func test() {<br/>
                        var available bool // 一般声明<br/>
                        valid := false // 简短声明<br/>
                        available = true // 赋值操作<br/>
                        }
                    </p>
                    <h3>数值类型</h3>
                    整数类型有无符号和带符号两种。Go同时支持int和uint，这两种类型的长度相同，但具体长度取决于不同编译器的实现。
                    Go里面也有直接定义好位数的类型：rune, int8, int16, int32, int64和byte, uint8, uint16, uint32,
                    uint64。其中rune是int32的别称，byte是uint8的别称。
                    需要注意的一点是，这些类型的变量之间不允许互相赋值或操作，不然会在编译时引起编译器报错。
                    <h3>字符串</h3>
                    我们在上一节中讲过，Go中的字符串都是采用UTF-8字符集编码。字符串是用一对双引号（""）或反引号（` ` ）括起来定义，它的类型是string。
                    <p class="info-box">
                        //示例代码<br/>
                        var frenchHello string // 声明变量为字符串的一般方法<br/>
                        var emptyString string = "" // 声明了一个字符串变量，初始化为空字符串<br/>
                        func test() {<br/>
                        no, yes, maybe := "no", "yes", "maybe" // 简短声明，同时声明多个变量<br/>
                        japaneseHello := "Konichiwa" // 同上<br/>
                        frenchHello = "Bonjour" // 常规赋值<br/>
                        }
                    </p>
                    <h3>错误类型</h3>
                    Go内置有一个error类型，专门用来处理错误信息，Go的package里面还专门有一个包errors来处理错误：
                    <p class="info-box">
                        err := errors.New("emit macho dwarf: elf header corrupted")<br/>
                        if err != nil {<br/>
                        fmt.Print(err)<br/>
                        }<br/>
                    </p>
                    <h3>零值</h3>
                    没有明确初始值的变量声明会被赋予它们的 零值。<br/><br/>

                    零值是：<br/><br/>

                    数值类型为 0，<br/>
                    布尔类型为 false，<br/>
                    字符串为 ""（空字符串）。<br/>
                    <p class="info-box">
                        package main<br/><br/>

                        import "fmt"<br/><br/>

                        func main() {<br/>
                        var i int<br/>
                        var f float64<br/>
                        var b bool<br/>
                        var s string<br/>
                        fmt.Printf("%v %v %v %q\n", i, f, b, s)<br/>
                        }

                    </p>

                    <h2>Go程序设计的一些规则</h2>
                    Go内置有一个error类型，专门用来处理错误信息，Go的package里面还专门有一个包errors来处理错误：
                    Go之所以会那么简洁，是因为它有一些默认的行为：
                    <ul>
                        <li>大写字母开头的变量是可导出的，也就是其它包可以读取的，是公有变量；小写字母开头的就是不可导出的，是私有变量。</li>
                        <li>大写字母开头的函数也是一样，相当于class中的带public关键词的公有函数；小写字母开头的就是有private关键词的私有函数。</li>
                    </ul>

                    <h2>array、slice、map</h2>
                    <h3>array</h3>
                    array就是数组，它的定义方式：var arr [n]type
                    在[n]type中，n表示数组的长度，type表示存储元素的类型。对数组的操作和其它语言类似，都是通过[]来进行读取或赋值：
                    <p class="info-box">
                        var arr [10]int // 声明了一个int类型的数组<br/>
                        arr[0] = 42 // 数组下标是从0开始的<br/>
                        arr[1] = 13 // 赋值操作<br/>
                        fmt.Printf("The first element is %d\n", arr[0]) // 获取数据，返回42<br/>
                        fmt.Printf("The last element is %d\n", arr[9]) //返回未赋值的最后一个元素，默认返回0<br/>
                    </p>
                    数组可以使用另一种:=来声明
                    <p class="info-box">
                        a := [3]int{1, 2, 3} // 声明了一个长度为3的int数组 <br/>
                        b := [10]int{1, 2, 3} // 声明了一个长度为10的int数组，其中前三个元素初始化为1、2、3，其它默认为0<br/>
                        c := [...]int{4, 5, 6} // 可以省略长度而采用`...`的方式，Go会自动根据元素个数来计算长度<br/>
                        // 声明了一个二维数组，该数组以两个数组作为元素，其中每个数组中又有4个int类型的元素<br/>
                        doubleArray := [2][4]int{[4]int{1, 2, 3, 4}, [4]int{5, 6, 7, 8}}<br/>
                        // 上面的声明可以简化，直接忽略内部的类型<br/>
                        {{/*easyArray := [2][4]int{{1, 2, 3, 4}, {5, 6, 7, 8}}<br/>*/}}
                    </p>
                    <h3>slice</h3>
                    在很多应用场景中，数组并不能满足我们的需求。在初始定义数组时，我们并不知道需要多大的数组，因此我们就需要“动态数组”。在Go里面这种数据结构叫slice
                    slice并不是真正意义上的动态数组，而是一个引用类型。slice总是指向一个底层array，slice的声明也可以像array一样，只是不需要长度。
                    <p class="info-box">
                        // 和声明array一样，只是少了长度<br/>
                        var fslice []int<br/>
                        //我们可以声明一个slice，并初始化数据<br/>
                        slice := []byte {'a', 'b', 'c', 'd'}<br/>
                    </p>
                    <p class="info-box">
                        // 声明一个含有10个元素元素类型为byte的数组
                        var ar = [10]byte {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'}<br/>
                        // 声明两个含有byte的slice<br/>
                        var a, b []byte<br/>
                        // a指向数组的第3个元素开始，并到第五个元素结束，<br/>
                        a = ar[2:5]<br/>
                        //现在a含有的元素: ar[2]、ar[3]和ar[4]<br/>
                        // b是数组ar的另一个slice<br/>
                        b = ar[3:5]<br/>
                        // b的元素是：ar[3]和ar[4]<br/>
                    </p>
                    <h3>map</h3>
                    map也就是Python中字典的概念，它的格式为map[keyType]valueType<br/>
                    我们看下面的代码，map的读取和设置也类似slice一样，通过key来操作，只是slice的index只能是｀int｀类型，而map多了很多类型，可以是int，可以是string及所有完全定义了==与!=操作的类型。
                    <p class="info-box">
                        // 声明一个key是字符串，值为int的字典,这种方式的声明需要在使用之前使用make初始化<br/>
                        var numbers map[string]int<br/>
                        // 另一种map的声明方式<br/>
                        numbers := make(map[string]int)<br/>
                        numbers["one"] = 1 //赋值<br/>
                        numbers["ten"] = 10 //赋值<br/>
                        numbers["three"] = 3<br/><br/>

                        fmt.Println("第三个数字是: ", numbers["three"]) // 读取数据<br/>
                        // 打印出来如:第三个数字是: 3<br/>
                    </p>

                    <h2>流程控制</h2>
                    流程控制在编程语言中是最伟大的发明了，因为有了它，你可以通过很简单的流程描述来表达很复杂的逻辑。Go中流程控制分三大类：条件判断，循环控制和无条件跳转。
                    <h3>if</h3>
                    Go里面if条件判断语句中不需要括号，如下代码所示
                    <p class="info-box">
                        if x > 10 {<br/>
                        fmt.Println("x is greater than 10")<br/>
                        } else {<br/>
                        fmt.Println("x is less than 10")<br/>
                        }
                    </p>
                    <h3>for</h3>
                    Go里面最强大的一个控制逻辑就是for，它即可以用来循环读取数据，又可以当作while来控制逻辑，还能迭代操作。它的语法如下：
                    <p class="info-box">
                        package main<br/><br/>

                        import "fmt"<br/><br/>

                        func main(){<br/>
                        sum := 0;<br/>
                        for index:=0; index < 10 ; index++ {<br/>
                        sum += index<br/>
                        }<br/>
                        fmt.Println("sum is equal to ", sum)<br/>
                        }
                    </p>
                    <h3>switch</h3>
                    有些时候你需要写很多的if-else来实现一些逻辑处理，这个时候代码看上去就很丑很冗长，而且也不易于以后的维护，这个时候switch就能很好的解决这个问题。它的语法如下
                    <p class="info-box">
                        i := 10<br/>
                        switch i {<br/>
                        case 1:<br/>
                        fmt.Println("i is equal to 1")<br/>
                        case 2, 3, 4:<br/>
                        fmt.Println("i is equal to 2, 3 or 4")<br/>
                        case 10:<br/>
                        fmt.Println("i is equal to 10")<br/>
                        default:<br/>
                        fmt.Println("All I know is that i is an integer")<br/>
                        }
                    </p>

                    <h2>函数</h2>
                    函数是Go里面的核心设计，它通过关键字func来声明，它的格式如下
                    <p class="info-box">
                        func funcName(input1 type1, input2 type2) (output1 type1, output2 type2) {<br/>
                        //这里是处理逻辑代码<br/>
                        //返回多个值<br/>
                        return value1, value2<br/>
                        }
                    </p>
                    <h3>defer</h3>
                    Go语言中有种不错的设计，即延迟（defer）语句，你可以在函数中添加多个defer语句。当函数执行到最后时，这些defer语句会按照逆序执行，最后该函数返回。特别是当你在进行一些打开资源的操作时，遇到错误需要提前返回，在返回前你需要关闭相应的资源，不然很容易造成资源泄露等问题。如下代码所示，我们一般写打开一个资源是这样操作的：
                    <p class="info-box">
                        func ReadWrite() bool {<br/>
                        file.Open("file")<br/>
                        // 做一些工作<br/>
                        if failureX {<br/>
                        file.Close()<br/>
                        return false<br/>
                        }<br/><br/>

                        if failureY {<br/>
                        file.Close()<br/>
                        return false<br/>
                        }<br/><br/>

                        file.Close()<br/>
                        return true<br/>
                        }
                    </p>
                    如果有很多调用defer，那么defer是采用后进先出模式，所以如下代码会输出4 3 2 1 0
                    <p class="info-box">
                        for i := 0; i < 5; i++ {<br/>
                        defer fmt.Printf("%d ", i)<br/>
                        }
                    </p>
                    <h3>Panic和Recover
                    </h3>
                    Go没有像Java那样的异常机制，它不能抛出异常，而是使用了panic和recover机制。一定要记住，你应当把它作为最后的手段来使用，也就是说，你的代码中应当没有，或者很少有panic的东西。这是个强大的工具，请明智地使用它。那么，我们应该如何使用它呢？

                </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
