{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>Go命令</h1>

                    <div id="arc-body">Go语言自带有一套完整的命令操作工具，你可以通过在命令行中执行go来查看它们<br/>
                        <br/>
                        <p align="center"><img src="/t/gocommand.jpg" width="800" height="1000"></p>
                        <h3>常用命令</h3>
                        <p class="info-box">
                            go build 命令用于编译我们指定的源码文件或代码包以及它们的依赖包。<br/>
                            go get 这个命令是用来动态获取远程代码包的，目前支持的有BitBucket、GitHub、Google
                            Code和Launchpad。这个命令在内部实际上分成了两步操作：第一步是下载源码包，第二步是执行go install。<br/>
                            go version 查看go当前的版本<br/>
                            go env 查看当前go的环境变量<br/>
                            go run 编译并运行Go程序<br/>
                        </p>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
