{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>环境搭建</h1>

                    <div id="arc-body">本节为大家介绍在 Windows/Linux/Macos
                        系统上安装Go语言开发包，大家可以在（https://golang.google.cn/dl/）页面下载对应系统下的一键安装包，
                        如果打不开可以使用这个地址：https://golang.google.cn/dl/ 或者https://studygolang.com/dl。推荐这种方式<br/>
                        目前有很多方便的第三方软件包工具，例如Ubuntu的apt-get和wget、Mac的homebrew等。这种安装方式适合那些熟悉相应系统的用户。
                        <br/>
                        接下来我们来看如何使用安装包来搭建golang环境。<br/>
                        <h3>
                            包下载</h3>
                        根据系统选择对应的包和版本:<br/>
                        <p align="center"><img src="/t/downgo.jpg"></p>
                        <h3>
                            windows安装</h3>
                        <p class="info-box"> Windows下可以使用 .msi 后缀的安装包来安装。默认情况下 .msi 文件会安装在 c:\Go 目录下。<br/>
                            环境变量配置： GOROOT，添加c:\Go;GOPATH，添加项目路径;Path， 添加c:\Go\bin<br/>
                        </p>
                        <h3>
                            macos安装</h3>
                        <p class="info-box">
                            Mac OS 下是傻瓜式安装，一路 Next 即可。<br/>
                            编辑 ~/.bash_profile,添加export GOPATH=$HOME/go；export PATH=$PATH:$GOPATH/bin；export
                            GOROOT=项目路径；
                        </p>
                        <h3>
                            linux安装</h3>
                        <p class="info-box">下载安装包后结下tar -C /usr/local -xzf go1.13.1.linux-386.tar.gz<br/>
                            编辑 ~/.bash_profile,添加export GOPATH=$HOME/go；export PATH=$PATH:$GOPATH/bin；export
                            GOROOT=项目路径；
                        </p>
                        <br/>
                        <h1>监测安装</h1>
                        创建一个名为hello.go的文件，并将以下程序放入其中<br/>
                        <p class="info-box">
                            package main<br/><br/>
                            func main() {<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;println("Hello", "world")<br/>
                            }<br/>
                        </p>
                        切换相关目录到下，然后执行指令 go run hello_world1.go，将会打印信息：Hello world。
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
