{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>语法特性</h1>

                    <div id="arc-body">Go语言语法简单易懂，学习曲线平缓，不需要像 C/C++
                        语言动辄需要两到三年的学习期。Go语言被称为&ldquo;互联网时代的C语言&rdquo;。互联网的短、频、快特性在Go语言中体现得淋漓尽致。一个熟练的开发者只需要短短的一周时间就可以从学习阶段转到开发阶段，并完成一个高并发的服务器开发。<br/>
                        <br/>
                        Go语言是 Google 公司开发的一种静态型、编译型并自带垃圾回收和并发的编程语言。所以它是一门类型安全的语言，加上通过构建到本地代码，程序的执行速度也非常快。<br/>
                        <br/>
                        Go语言的主要目标是将静态语言的安全性和高效性与动态语言的易开发性进行有机结合，达到完美平衡，从而使编程变得更加有乐趣，而不是在艰难抉择中痛苦前行。<br/>
                        <br/>
                        Go语言在拥有一些动态语言的特性的同时，其语法风格类似于C语言。在C语言的基础上进行了大幅的简化，去掉了不需要的表达式括号，循环也只有 for
                        一种表示方法，就可以实现数值、键值等各种遍历。因此，Go语言上手非常容易。<br/>
                        <br/>
                        很多读者表示自己是在看了介绍后才开始了解这门语言的，他们一般也会使用两到三门编程语言。Go语言对于他们来说，也就是一到两天的熟悉过程，之后就可以开始使用Go语言解决具体问题了，大约一周左右已经可以使用Go语言完成既定的任务了。<br/>
                        <br/>
                        Go语言这种从零开始使用到解决问题的速度，在其他语言中是完全不可想象的。学过 C++
                        的朋友都知道，一到两年大强度的理论学习和实战操练也只能学到这门语言的皮毛，以及知道一些基本的避免错误的方法。<br/>
                        <br/>
                        那么，Go语言到底有多么简单？下面通过实现一个 HTTP 服务器来了解一下。<br/>
                        <br/>
                        【实例】HTTP 文件服务器是常见的 Web 服务之一。开发阶段为了测试，需要自行安装 Apache 或 Nginx 服务器，下载安装配置需要大量的时间。使用Go语言实现一个简单的 HTTP
                        服务器只需要几行代码，如下所示。
                        <pre class="go">
package main

import (
    &quot;net/http&quot;
)

func main() {
    http.Handle(&quot;/&quot;, http.FileServer(http.Dir(&quot;.&quot;)))
    http.ListenAndServe(&quot;:8080&quot;, nil)
}</pre>
                        下面是代码说明：
                        <ul>
                            <li>
                                第 1 行，标记当前文件为 main 包，main 包也是 Go 程序的入口包。
                            </li>
                            <li>
                                第 3~5 行，导入 net/http 包，这个包的作用是 HTTP 的基础封装和访问。
                            </li>
                            <li>
                                第 7 行，程序执行的入口函数 main()。
                            </li>
                            <li>
                                第 8 行，使用 http.FileServer 文件服务器将当前目录作为根目录（<code style="font-size: 14px;">/</code>目录）的处理器，访问根目录，就会进入当前目录。
                            </li>
                            <li>
                                第 9 行，默认的 HTTP 服务侦听在本机 8080 端口。
                            </li>
                        </ul>
                        <br/>
                        把这个源码保存为 main.go（Go语言的源文件后缀就是<code style="font-size: 14px;">.go</code>），安装Go语言的开发包（后续我们会讲解如何安装），在命令行输入如下命令：
                        <p class="info-box">
                            $ go run main.go</p>
                        在浏览器里输入<code style="font-size: 14px;">http://127.0.0.1:8080</code>即可浏览文件，这些文件正是当前目录在HTTP服务器上的映射目录。
                        <h2>
                            Go语言工程结构简单</h2>
                        Go语言的源码无须头文件，编译的文件都来自于后缀名为<code style="font-size: 14px;">.go</code>的源码文件。<br/>
                        <br/>
                        Go语言无须解决方案、工程文件和 Make File，只要将工程文件按照 GOPATH 的规则进行填充，即可使用 go build/go install
                        进行编译，编译完成的二进制可执行文件统一放在 bin 文件夹下。<br/>
                        <br/>
                        后面的章节会介绍 GOPATH 及 go build/go install 的详细使用方法。
                        <h2>
                            Go语言编译速度快</h2>
                        Go语言可以利用自己的特性实现并发编译，并发编译的最小元素是包。从 Go 1.9 版本开始，最小并发编译元素缩小到函数，整体编译速度提高了 20%。<br/>
                        <br/>
                        另外，Go语言语法简单，具有严谨的工程结构设计、没有头文件、不允许包的交叉依赖等规则，在很大程度上加速了编译的过程。
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
