{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>语法</h1>

                    <div id="arc-body">Go语言从本质上（程序和结构方面）
                        来实现并发编程。因为Go语言没有类和继承的概念，所以它和Java或C++看起来并不相同。但是它通过接口（interface）的概念来实现多态性。Go语言有一个清晰易懂的轻量级类型系统，
                        在类型之间也没有层级之说。 因此可以说Go语言是一门混合型的语言。<br/>
                        <br/>
                        接下来从几个方面来具体介绍一下Go语言的特性。<br/>
                        <h2>
                            语法简单</h2>
                        抛开语法样式不谈，单就类型和规则而言，Go 与 C99、C11 相似之处颇多，这也是Go语言被冠以&ldquo;NextC&rdquo;名号的重要原因。<br/>
                        <br/>
                        Go语言的语法处于简单和复杂的两极。C语言简单到你每写下一行代码，都能在脑中想象出编译后的模样，指令如何执行，内存如何分配，等等。而 C
                        的复杂在于，它有太多隐晦而不着边际的规则，着实让人头疼。相比较而言，Go 从零开始，没有历史包袱，在汲取众多经验教训后，可从头规划一个规则严谨、条理简单的世界。<br/>
                        <br/>
                        Go语言的语法规则严谨，没有歧义，更没什么黑魔法变异用法。任何人写出的代码都基本一致，这使得Go语言简单易学。放弃部分&ldquo;灵活&rdquo;和&ldquo;自由&rdquo;，换来更好的维护性，我觉得是值得的。<br/>
                        <br/>
                        将&ldquo;++&rdquo;、&ldquo;--&rdquo;从运算符降级为语句，保留指针，但默认阻止指针运算，带来的好处是显而易见的。还有，将切片和字典作为内置类型，从运行时的层面进行优化，这也算是一种&ldquo;简单&rdquo;。<br/>
                        <h2>
                            并发模型</h2>
                        时至今日，并发编程已成为程序员的基本技能，在各个技术社区都能看到诸多与之相关的讨论主题。在这种情况下Go语言却一反常态做了件极大胆的事，从根本上将一切都并发化，运行时用 Goroutine
                        运行所有的一切，包括 main.main 入口函数。<br/>
                        <br/>
                        可以说，Goroutine 是 Go
                        最显著的特征。它用类协程的方式来处理并发单元，却又在运行时层面做了更深度的优化处理。这使得语法上的并发编程变得极为容易，无须处理回调，无须关注线程切换，仅一个关键字，简单而自然。<br/>
                        <br/>
                        搭配 channel，实现 CSP
                        模型。将并发单元间的数据耦合拆解开来，各司其职，这对所有纠结于内存共享、锁粒度的开发人员都是一个可期盼的解脱。若说有所不足，那就是应该有个更大的计划，将通信从进程内拓展到进程外，实现真正意义上的分布式。<br/>
                        <h2>
                            内存分配</h2>
                        将一切并发化固然是好，但带来的问题同样很多。如何实现高并发下的内存分配和管理就是个难题。好在 Go 选择了 tcmalloc，它本就是为并发而设计的高性能内存分配组件。<br/>
                        <br/>
                        可以说，内存分配器是运行时三大组件里变化最少的部分。刨去因配合垃圾回收器而修改的内容，内存分配器完整保留了 tcmalloc 的原始架构。使用 cache 为当前执行线程提供无锁分配，多个
                        central 在不同线程间平衡内存单元复用。在更高层次里，heap
                        则管理着大块内存，用以切分成不同等级的复用内存块。快速分配和二级内存平衡机制，让内存分配器能优秀地完成高压力下的内存管理任务。<br/>
                        <br/>
                        在最近几个版本中，编译器优化卓有成效。它会竭力将对象分配在栈上，以降低垃圾回收压力，减少管理消耗，提升执行性能。可以说，除偶尔因性能问题而被迫采用对象池和自主内存管理外，我们基本无须参与内存管理操作。<br/>
                        <h2>
                            垃圾回收</h2>
                        垃圾回收一直是个难题。早年间，Java 就因垃圾回收低效被嘲笑了许久，后来 Sun 连续收纳了好多人和技术才发展到今天。可即便如此，在 Hadoop
                        等大内存应用场景下，垃圾回收依旧捉襟见肘、步履维艰。<br/>
                        <br/>
                        相比 Java，Go 面临的困难要更多。因指针的存在，所以回收内存不能做收缩处理。幸好，指针运算被阻止，否则要做到精确回收都难。<br/>
                        <br/>
                        每次升级，垃圾回收器必然是核心组件里修改最多的部分。从并发清理，到降低 STW 时间，直到 Go 的 1.5
                        版本实现并发标记，逐步引入三色标记和写屏障等等，都是为了能让垃圾回收在不影响用户逻辑的情况下更好地工作。尽管有了努力，当前版本的垃圾回收算法也只能说堪用，离好用尚有不少距离。<br/>
                        <h2>
                            静态链接</h2>
                        Go 刚发布时，静态链接被当作优点宣传。只须编译后的一个可执行文件，无须附加任何东西就能部署。这似乎很不错，只是后来风气变了。连着几个版本，编译器都在完善动态库 buildmode
                        功能，场面一时变得有些尴尬。<br/>
                        <br/>
                        暂不说未完工的 buildmode
                        模式，静态编译的好处显而易见。将运行时、依赖库直接打包到可执行文件内部，简化了部署和发布操作，无须事先安装运行环境和下载诸多第三方库。这种简单方式对于编写系统软件有着极大好处，因为库依赖一直都是个麻烦。<br/>
                        <h2>
                            标准库</h2>
                        功能完善、质量可靠的标准库为编程语言提供了充足动力。在不借助第三方扩展的情况下，就可完成大部分基础功能开发，这大大降低了学习和使用成本。最关键的是，标准库有升级和修复保障，还能从运行时获得深层次优化的便利，这是第三方库所不具备的。<br/>
                        <br/>
                        Go 标准库虽称不得完全覆盖，但也算极为丰富。其中值得称道的是 net/http，仅须简单几条语句就能实现一个高性能 Web Server，这从来都是宣传的亮点。更何况大批基于此的优秀第三方
                        Framework 更是将 Go 推到 Web/Microservice 开发标准之一的位置。<br/>
                        <br/>
                        当然，优秀第三方资源也是语言生态圈的重要组成部分。近年来崛起的几门语言中，Go 算是独树一帜，大批优秀作品频繁涌现，这也给我们学习 Go 提供了很好的参照。<br/>
                        <h2>
                            工具链</h2>
                        完整的工具链对于日常开发极为重要。Go 在此做得相当不错，无论是编译、格式化、错误检查、帮助文档，还是第三方包下载、更新都有对应的工具。其功能未必完善，但起码算得上简单易用。<br/>
                        <br/>
                        内置完整测试框架，其中包括单元测试、性能测试、代码覆盖率、数据竞争，以及用来调优的 pprof，这些都是保障代码能正确而稳定运行的必备利器。<br/>
                        <br/>
                        除此之外，还可通过环境变量输出运行时监控信息，尤其是垃圾回收和并发调度跟踪，可进一步帮助我们改进算法，获得更佳的运行期表现。
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
