{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>Golang包管理工具之govendor的使用</h1>

                    <div id="arc-body">
                        <h3>1. govendor简介</h3><br/>
                        golang工程的依赖包经常使用go get命令来获取，例如：go get github.com/kardianos/govendor
                        ，会将依赖包下载到GOPATH的路径下。<br/><br/>

                        常用的依赖包管理工具有godep，govendor等，在Golang1.5之后，Go提供了 GO15VENDOREXPERIMENT 环境变量(Go 1.6版本默认开启该环境变量)，用于将go
                        build时的应用路径搜索调整成为 当前项目目录/vendor 目录方式。通过这种形式，我们可以实现类似于 godep 方式的项目依赖管理。<br/>

                        <h3>2. 安装与使用</h3><br/>
                        <h4>2.1. 安装</h4><br/>
                        <p class="info-box">
                            go get -u -v github.com/kardianos/govendor
                        </p><br/>

                        <h4>2.2. 使用</h4><br/>
                        <p class="info-box">
                            #进入到项目目录<br/>
                            cd /home/gopath/src/servyoutraining<br/><br/>

                            #初始化vendor目录<br/>
                            govendor init<br/>

                            #查看vendor目录<br/>
                            [root@CC54425A mytool]# ls<br/>
                            vendor<br/><br/>

                            #将GOPATH中本工程使用到的依赖包自动移动到vendor目录中<br/>
                            #说明：如果本地GOPATH没有依赖包，先go get相应的依赖包<br/>
                            govendor add +external<br/>
                            或使用缩写： govendor add +e<br/>
                        </p>

                        <h3 id="23-说明">2.3. 常用命令</h3>
                        <p>常见的命令如下，格式为&nbsp;<code>govendor COMMAND</code>。</p>
                        <table style="height: 222px; width: 860px;">
                            <thead>
                            <tr><th style="text-align: left;">命令</th><th>功能</th></tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span style="font-size: 14px;"><code>init</code></span></td>
                                <td><span style="font-size: 14px;">初始化 vendor 目录</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>list</code></span></td>
                                <td><span style="font-size: 14px;">列出所有的依赖包</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>add</code></span></td>
                                <td><span style="font-size: 14px;">添加包到 vendor 目录，如 govendor add +external 添加所有外部包</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>add PKG_PATH</code></span></td>
                                <td><span style="font-size: 14px;">添加指定的依赖包到 vendor 目录</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>update</code></span></td>
                                <td><span style="font-size: 14px;">从 $GOPATH 更新依赖包到 vendor 目录</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>remove</code></span></td>
                                <td><span style="font-size: 14px;">从 vendor 管理中删除依赖</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>status</code></span></td>
                                <td><span style="font-size: 14px;">列出所有缺失、过期和修改过的包</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>fetch</code></span></td>
                                <td><span style="font-size: 14px;">添加或更新包到本地 vendor 目录</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>sync</code></span></td>
                                <td><span style="font-size: 14px;">本地存在 vendor.json 时候拉去依赖包，匹配所记录的版本</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;"><code>get</code></span></td>
                                <td><span style="font-size: 14px;">类似&nbsp;<code>go get</code>&nbsp;目录，拉取依赖包到 vendor 目录</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
