{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/primary">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    <h3>1. 认识go</h3>
                    <ul>
                        <li><a href="/introduction?t=0">1.1 简介</a></li>
                        <li><a href="/characteristic?t=0">1.2 特性</a></li>
                        <li><a href="/products?t=0">1.3 产品、项目</a></li>
                        <li><a href="/comparelanguage?t=0">1.4 语言比对</a></li>
                        <li><a href="/standardlibrary?t=0">1.5 标准库</a></li>
                        <li><a href="/grammar?t=0">1.6 语法特性</a></li>
                        <li><a href="/study?t=0">1.7 学习社区</a></li>
                    </ul>
                    <h3>2. Go环境配置</h3>
                    <ul>
                        <li><a href="/environment?t=0">2.1 环境搭建</a></li>
                        <li><a href="/structure?t=0">2.2 Go语言工程结构</a></li>
                        <li><a href="/commandgo?t=0">2.3 常用命令</a></li>
                        <li><a href="/idetool?t=0">2.4 开发工具</a></li>
                        <li><a href="/environmentsummary?t=0">2.5 小结</a></li>
                    </ul>
                    <h3>3. Go语言基础</h3>
                    <ul>
                        <li><a href="/analyse?t=0">3.1 程序分析</a></li>
                        <li><a href="/basego?t=0">3.2 基础</a></li>
                        <li><a href="/packagego?t=0">3.3 包管理</a></li>
                        <li><a href="/basesummary?t=0">3.4 小结</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class=container>

                    <dl id="arc-list">
                        <dt>
                            初级（运维小工具）</dt>
                        <dd>
                            <span>1.</span> <a href="/introduction?t=1&p=1">认识Go</a>
                        </dd>
                        <dd class="bg-f7f7f7">
                            <span>2.</span> <a href="/environment?t=1&p=2">Go环境配置</a>
                        </dd>
                        <dd>
                            <span>3.</span> <a href="/basego?t=1&p=3">Go语言基础及运用</a>
                        </dd>
                    </dl>
                </div>
            </main>
        </body1>
    </form>
{{end}}
