{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>相关产品、项目</h1>

                    <div id="arc-body">所有的编程语言都反映了语言设计者对编程哲学的反思，通常包括之前的语言所暴露的一些不足地方的改进。Go语言从发布
                        1.0 版本以来备受众多开发者关注并得到广泛使用，Go语言的简单、高效、并发特性吸引了众多传统语言开发者的加入，而且人数越来越多。
                        <br/>
                        使用Go语言开发的开源项目非常多。早期的Go语言开源项目只是通过Go语言与传统项目进行C语言库绑定实现，例如 Qt、Sqlite
                        等；后期的很多项目都使用Go语言进行重新原生实现，这个过程相对于其他语言要简单一些，这也促成了大量使用Go语言原生开发项目的出现。<br/>
                        <br/>
                        下面列举的是原生使用Go语言进行开发的部分项目。
                        <h2>
                            1) Docker</h2>
                        Docker 是一种操作系统层面的虚拟化技术，可以在操作系统和应用程序之间进行隔离，也可以称之为容器。Docker 可以在一台物理服务器上快速运行一个或多个实例。例如，启动一个 CentOS
                        操作系统，并在其内部命令行执行指令后结束，整个过程就像自己在操作系统一样高效。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/docker/docker"
                                target="_blank">https://github.com/docker/docker</a>
                        <h2>
                            2) go语言</h2>
                        Go语言自己的早期源码使用C语言和汇编语言写成。从 Go 1.5
                        版本后，完全使用Go语言自身进行编写。Go语言的源码对了解Go语言的底层调度有极大的参考意义，建议希望对Go语言有深入了解的读者读一读。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/golang/go" target="_blank">https://github.com/golang/go</a>
                        <h2>
                            3) Kubernetes</h2>
                        Google 公司开发的构建于 Docker 之上的容器调度服务，用户可以通过 Kubernetes
                        集群进行云端容器集群管理。系统会自动选取合适的工作节点来执行具体的容器集群调度处理工作。其核心概念是 Container Pod（容器仓）。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/kubernetes/kubernetes" target="_blank">https://github.com/kubernetes/kubernetes</a>
                        <h2>
                            4) etcd</h2>
                        一款分布式、可靠的 KV 存储系统，可以快速进行云配置。由 CoreOS 开发并维护键值存储系统，它使用Go语言编写，并通过 Raft 一致性算法处理日志复制以保证强一致性。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/coreos/etcd" target="_blank">https://github.com/coreos/etcd</a>
                        <h2>
                            5) beego</h2>
                        beego 是一个类似Python的 Tornado 框架，采用了 RESTFul
                        的设计思路，使用Go语言编写的一个极轻量级、高可伸缩性和高性能的 Web 应用框架。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/astaxie/beego"
                                target="_blank">https://github.com/astaxie/beego</a>
                        <h2>
                            6) martini</h2>
                        一款快速构建模块化的 Web 应用的Go语言框架。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/go-martini/martini" target="_blank">https://github.com/go-martini/martini</a>
                        <h2>
                            7) codis</h2>
                        国产的优秀分布式 Redis解决方案。可以将 codis 理解成为 Web 服务领域的 Nginx，它实现了对
                        Redis 的反向代理和负载均衡。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/CodisLabs/codis" target="_blank">https://github.com/CodisLabs/codis</a>
                        <h2>
                            8) delve</h2>
                        Go语言强大的调试器，被很多集成环境和编辑器整合。<br/>
                        <br/>
                        项目链接：<a href="https://github.com/derekparker/delve" target="_blank">https://github.com/derekparker/delve</a>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
