{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>标准库</h1>

                    <div id="arc-body">学习编程语言，早已不是学一点语法规则那么简单。现在更习惯称作选择 Ecosystem（生态圈），而这其中标准库的作用和分量尤为明显。<br/>
                        <br/>
                        在Go语言的安装文件里包含了一些可以直接使用的包，即标准库。Go语言的标准库（通常被称为语言自带的电池），提供了清晰的构建模块和公共接口，包含
                        I/O 操作、文本处理、图像、密码学、网络和分布式应用程序等，并支持许多标准化的文件格式和编解码协议。<br/>
                        <br/>
                        在 Windows 下，标准库的位置在Go语言根目录下的子目录 pkg\windows_amd64 中；在 Linux
                        下，标准库在Go语言根目录下的子目录 pkg\linux_amd64 中（如果是安装的是 32 位，则在 linux_386 目录中）。一般情况下，标准包会存放在
                        $GOROOT/pkg/$GOOS_$GOARCH/ 目录下。<br/>
                        <br/>
                        Go语言的编译器也是标准库的一部分，通过词法器扫描源码，使用语法树获得源码逻辑分支等。Go语言的周边工具也是建立在这些标准库上。在标准库上可以完成几乎大部分的需求。<br/>
                        <br/>
                        Go语言的标准库以包的方式提供支持，下表列出了Go语言标准库中常见的包及其功能。<br/>
                        <br/>
                        <table border="1">
                            <caption>
                                Go语言标准库常用的包及功能
                            </caption>
                            <tbody>
                            <tr>
                                <th>
                                    Go语言标准库包名
                                </th>
                                <th>
                                    功 &nbsp;能
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    bufio
                                </td>
                                <td>
                                    带缓冲的 I/O 操作
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    bytes
                                </td>
                                <td>
                                    实现字节操作
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    container
                                </td>
                                <td>
                                    封装堆、列表和环形列表等容器
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    crypto
                                </td>
                                <td>
                                    加密算法
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    database
                                </td>
                                <td>
                                    数据库驱动和接口
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    debug
                                </td>
                                <td>
                                    各种调试文件格式访问及调试功能
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    encoding
                                </td>
                                <td>
                                    常见算法如 JSON、XML、Base64 等
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    flag
                                </td>
                                <td>
                                    命令行解析
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    fmt
                                </td>
                                <td>
                                    格式化操作
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    go
                                </td>
                                <td>
                                    Go语言的词法、语法树、类型等。可通过这个包进行代码信息提取和修改
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    html
                                </td>
                                <td>
                                    HTML 转义及模板系统
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    image
                                </td>
                                <td>
                                    常见图形格式的访问及生成
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    io
                                </td>
                                <td>
                                    实现 I/O 原始访问接口及访问封装
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    math
                                </td>
                                <td>
                                    数学库
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    net
                                </td>
                                <td>
                                    网络库，支持 Socket、HTTP、邮件、RPC、SMTP 等
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    os
                                </td>
                                <td>
                                    操作系统平台不依赖平台操作封装
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    path
                                </td>
                                <td>
                                    兼容各操作系统的路径操作实用函数
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    plugin
                                </td>
                                <td>
                                    Go 1.7 加入的插件系统。支持将代码编译为插件，按需加载
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    reflect
                                </td>
                                <td>
                                    语言反射支持。可以动态获得代码中的类型信息，获取和修改变量的值
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    regexp
                                </td>
                                <td>
                                    正则表达式封装
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    runtime
                                </td>
                                <td>
                                    运行时接口
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    sort
                                </td>
                                <td>
                                    排序接口
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    strings
                                </td>
                                <td>
                                    字符串转换、解析及实用函数
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    time
                                </td>
                                <td>
                                    时间接口
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    text
                                </td>
                                <td>
                                    文本模板及 Token 词法器
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        当然，优秀第三方资源也是语言生态圈的重要组成部分。近年来崛起的几门语言中，Go 算是独树一帜，大批优秀作品频繁涌现，这也给我们学习 Go 提供了很好的参照。
                    </div>

                </div>
            </main>
        </body1>
    </form>
{{end}}
