{{define "content"}}
    {{template "header"}}

    <link type="text/css" href="/t/its.css" rel="stylesheet"/>
    <link type="text/css" href="/t/font.css" rel="stylesheet"/>

    <script type="text/javascript">

    </script>

    <form method="POST" action="/characteristic">
        <body1>
            <aside><h1 class="logo"><a href="/servyou">Home</a></h1>
                <nav class=side-nav>
                    {{if .t}}
                        {{if eq .p "1"}}
                            <h3>1. 认识go</h3>
                            <ul>
                                <li><a href="/introduction?t=1&p=1">1.1 简介</a></li>
                                <li><a href="/characteristic?t=1&p=1">1.2 特性</a></li>
                                <li><a href="/products?t=1&p=1">1.3 产品、项目</a></li>
                                <li><a href="/comparelanguage?t=1&p=1">1.4 语言比对</a></li>
                                <li><a href="/standardlibrary?t=1&p=1">1.5 标准库</a></li>
                                <li><a href="/grammar?t=1&p=1">1.6 语法特性</a></li>
                                <li><a href="/study?t=1&p=1">1.7 学习社区</a></li>
                            </ul>
                        {{else if eq .p "2"}}
                            <h3>2. Go环境配置</h3>
                            <ul>
                                <li><a href="/environment?t=1&p=2">2.1 环境搭建</a></li>
                                <li><a href="/structure?t=1&p=2">2.2 Go语言工程结构</a></li>
                                <li><a href="/commandgo?t=1&p=2">2.3 常用命令</a></li>
                                <li><a href="/idetool?t=1&p=2">2.4 开发工具</a></li>
                                <li><a href="/environmentsummary?t=1&p=2">2.5 小结</a></li>
                            </ul>
                        {{else if eq .p "3"}}
                            <h3>3. Go语言基础</h3>
                            <ul>
                                <li><a href="/analyse?t=1&p=3">3.1 程序分析</a></li>
                                <li><a href="/basego?t=1&p=3">3.2 基础</a></li>
                                <li><a href="/packagego?t=1&p=3">3.3 包管理</a></li>
                                <li><a href="/basesummary?t=1&p=3">3.4 小结</a></li>
                            </ul>
                            <br/>
                        {{end}}
                    {{else}}
                        <h3>1. 认识go</h3>
                        <ul>
                            <li><a href="/introduction">1.1 简介</a></li>
                            <li><a href="/characteristic">1.2 特性</a></li>
                            <li><a href="/products">1.3 产品、项目</a></li>
                            <li><a href="/comparelanguage">1.4 语言比对</a></li>
                            <li><a href="/standardlibrary">1.5 标准库</a></li>
                            <li><a href="/grammar">1.6 语法特性</a></li>
                            <li><a href="/study">1.7 学习社区</a></li>
                        </ul>
                        <h3>2. Go环境配置</h3>
                        <ul>
                            <li><a href=/environment>2.1 环境搭建</a></li>
                            <li><a href=/structure>2.2 Go语言工程结构</a></li>
                            <li><a href=/commandgo>2.3 常用命令</a></li>
                            <li><a href=/idetool>2.4 开发工具</a></li>
                            <li><a href="/environmentsummary">2.5 小结</a></li>
                        </ul>
                        <h3>3. Go语言基础</h3>
                        <ul>
                            <li><a href="/analyse">3.1 程序分析</a></li>
                            <li><a href="/basego">3.2 基础</a></li>
                            <li><a href="/packagego">3.3 包管理</a></li>
                            <li><a href="/basesummary">3.4 小结</a></li>
                        </ul>
                        <br/>
                    {{end}}
                    <a href=/primary>返回上级</a>
                </nav>
            </aside>
            <main>
                <div class=container>
                    <h1>Go语言工程结构</h1>

                    <div id="arc-body">Go语言是一门推崇软件工程理念的编程语言，它为开发周期的每个环节都提供了完备的工具和支持。Go语言高度强调代码和项目的规范和统一，这集中体现在工程结构或者说代码体制的细节之处。Go 也是一门开放的语言，它本身就是开源软件。<br />
                        <br />
                        更重要的是，Go语言让开发人员很容易通过 go get 命令从各种公共代码库（比如 GitHub）中下载开源代码并使用。这除了得益于Go语言自带命令的强大之外，还应该归功于 Go 工程结构的严谨和完善。本节中，我们详述Go语言的工程结构。<br />
                        <h2>
                            工作区</h2>
                        一般情况下，Go语言的源码文件必须放在工作区中。但是对于命令源码文件来说，这不是必需的。工作区其实就是一个对应于特定工程的目录，它应包含 3 个子目录：src 目录、pkg 目录和 bin 目录，下面逐一说明。<br />
                        <h4>
                            src 目录</h4>
                        用于以代码包的形式组织并保存 Go 源码文件，这里的代码包与 src 下的子目录一一对应。例如，若一个源码文件被声明属于代码包 log，那么它就应当保存在 src/log 目录中。<br />
                        <br />
                        当然，也可以把 Go 源码文件直接放在 src 目录下，但这样的 Go 源码文件就只能被声明属于 main 代码包了。除非用于临时测试或演示，一般还是建议把 Go 源码文件放入特定的代码包中。<br />
                        <h4>
                            pkg 目录</h4>
                        用于存放通过 go install 命令安装后的代码包的归档文件。前提是代码包中必须包含 Go 库源码文件。归档文件是指那些名称以&ldquo;.a&rdquo;结尾的文件。该目录与 GOROOT 目录下的 pkg 目录功能类似。区别在于，工作区中的 pkg 目录专门用来存放用户代码的归档文件。<br />
                        <br />
                        编译和安装用户代码的过程一般会以代码包为单位进行。比如 log 包被编译安装后，将生成一个名为 log.a 的归档文件，并存放在当前工作区的 pkg 目录下的平台相关目录中。<br />
                        <h4>
                            bin 目录</h4>
                        与 pkg 目录类似，在通过 go install 命令完成安装后，保存由 Go 命令源码文件生成的可执行文件。在类 Unix 操作系统下，这个可执行文件一般来说名称与源码文件的主文件名相同。而在 Windows 操作系统下，这个可执行文件的名称则是源码文件主文件名加 .exe 后缀。<br />
                        <blockquote>
                            <p>
                                注意：这里有必要明确一下Go语言的命令源码文件和库源码文件的区别。所谓命令源码文件，就是声明属于 main&nbsp; 代码包并且包含无参数声明和结果声明的 main 函数的源码文件。这类源码文件是程序的入口，它们可以独立运行（使用 go run 命令），也可以通过 go build 或 go install 命令得到相应的可执行文件。所谓库源码文件，则是指存在于某个代码包中的普通源码文件。</p>
                        </blockquote>
                        <h2>
                            GOPATH</h2>
                        我们需要将工作区的目录路径添加到环境变量 GOPATH 中。否则，即使处于同一工作区，代码之间也无法通过绝对代码包路径调用。在实际开发环境中，工作区可以只有一个，也可以有多个，这些工作区的目录路径都需要添加到 GOPATH 中。与 GOROOT 一样，我们应该确保 GOPATH 一直有效。<br />
                        <br />
                        需要注意一下两点：<br />
                        <ul>
                            <li>
                                GOPATH 中不要包含Go语言的根目录，以便将Go语言本身的工作区同用户工作区严格分开。</li>
                            <li>
                                通过 Go 工具中的代码获取命令 go get，可将指定项目的源码下载到我们在 GOPATH 中设定的第一个工作区中，并在其中完成编译和安装。</li>
                        </ul>
                    </div>
                </div>
            </main>
        </body1>
    </form>
{{end}}
