{{define "header"}}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {{/*<title>财政+政采云</title>*/}}
        <title>servyou</title>
        <style type="text/css">
            body {
                margin: 0 5px;
                padding: 0;
                color: #333;
                background: #fff;
                font: 85%/normal Arial, Helvetica, sans-serif;
            }

            .pagecursor {
                FONT-WEIGHT: bold;
                FONT-SIZE: 15pt;
                COLOR: #FF0000;
                position: fixed;
                FONT-FAMILY: arial
            }

            a:link {
                text-decoration: none;
                color: #3783CE
            }

            a:active {
                text-decoration: blink
            }

            a:hover {
                text-decoration: underline;
                color: red
            }

            a:visited {
                text-decoration: none;
                color: #0059A9
            }
        </style>
    </head>
    </body>
    {{/*<p align="center"><img src="/t/FIO.jpg"><img src="/t/cz.gif"><img src="/t/run.gif"><img src="t/zcy.gif"></p>*/}}
    <div>
        <p align="center"><img src="/t/servyou.png"></p>
        <p>
        <hr size="1">
        </p>
    </div>
{{end}}