{{define "content"}}
    {{template "header"}}
    <table width="900" align="center" style="top: 10%;right:35%">
        <tr>
            <td width="300" valign="top">
                <table width="100%">
                    <h2><a href="/primary">Go简介及基础</a></h2>
                    <ol>
                        <li><h3>认识go</h3>
                            <ul>
                                <li style="line-height: 28px;">简介</li>
                                <li style="line-height: 28px;">特性</li>
                                <li style="line-height: 28px;">产品、项目</li>
                                <li style="line-height: 28px;">其他语言比对</li>
                                <li style="line-height: 28px;">标准库</li>
                                <li style="line-height: 28px;">语法特性</li>
                                <li style="line-height: 28px;">学习社区</li>
                            </ul>
                        </li>
                        <li><h3>Go环境配置</h3>
                            <ul>
                                <li style="line-height: 28px;">搭建环境</li>
                                <li style="line-height: 28px;">Go语言工程结构</li>
                                <li style="line-height: 28px;">常用命令</li>
                                <li style="line-height: 28px;">开发工具</li>
                                <li style="line-height: 28px;">小结</li>
                            </ul>
                        </li>
                        <li><h3>Go语言基础</h3>
                            <ul>
                                <li style="line-height: 28px;"> 程序分析</li>
                                <li style="line-height: 28px;">基础</li>
                                <li style="line-height: 28px;">包管理</li>
                                <li style="line-height: 28px;">小结</li>
                            </ul>
                        </li>
                    </ol>
                </table>
            </td>
            <td width="300" valign="top">
                <table width="100%">
                    <h2><a href="/intermediate">Go应用实操</a></h2>
                    <ol>
                        <li><h3>Web基础搭建</h3>
                            <ul>
                                <li style="line-height: 20px;">Go搭建一个Web服务器</li>
                                <li style="line-height: 20px;">读取配置文件</li>
                            </ul>
                        </li>
                        <li><h3>Export </h3>
                            <ul>
                                <li style="line-height: 20px;">导出文本</li>
                                <li style="line-height: 20px;">导出excel</li>
                            </ul>
                            <ul>
                                <li style="line-height: 20px;">导出文本</li>
                                <li style="line-height: 20px;">导出excel</li>
                            </ul>
                        </li>
                        <li><h3>Database</h3>
                            <ul>
                                <li style="line-height: 20px;">连接数据库</li>
                                <li style="line-height: 20px;">数据展示</li>
                            </ul>
                        </li>
                        <li><h3>通信</h3>
                            <ul>
                                <li style="line-height: 20px;">oss下载</li>
                                <li style="line-height: 20px;">rpc服务</li>
                                <li style="line-height: 20px;">restful服务</li>
                                <li style="line-height: 20px;">Java调用</li>
                                <li style="line-height: 20px;">阿里云openapi</li>
                            </ul>
                        </li>
                        <li><h3>预警</h3>
                            <ul>
                                <li style="line-height: 20px;">钉钉</li>
                                <li style="line-height: 20px;">邮箱</li>
                            </ul>
                        </li>
                        <li><h3>爬虫</h3>
                            <ul>
                                <li style="line-height: 20px;">爬虫原理</li>
                                <li style="line-height: 20px;">案例</li>
                            </ul>
                        </li>
                        <li><h3>数据可视化</h3>
                            <ul>
                                <li style="line-height: 20px;">Go-echart</li>
                            </ul>
                        </li>
                        <li><h3>git</h3>
                            <ul>
                                <li style="line-height: 20px;">Readme</li>
                                <li style="line-height: 20px;">Devops</li>
                            </ul>
                        </li>
                    </ol>
                </table>
            </td>
            <td width="300" valign="top">
                <table width="100%">
                    <h2><a href="/high">进阶</a></h2>
                    <ul>
                        <li style="line-height: 33px;">Kubernetes的golang服务</li>
                        <li style="line-height: 33px;">结合Docker</li>
                        <li style="line-height: 33px;">游戏开发</li>
                        <li style="line-height: 33px;">微服务</li>
                        <li style="line-height: 33px;">分布式系统开发</li>
                        <li style="line-height: 33px;">Golang高并发</li>
                    </ul>
                </table>
            </td>
        </tr>
    </table>
    {{/*{{template "footer" .}}*/}}
{{end}}